{erl_opts, [debug_info]}.

{project_plugins, [
    rebar3_lint,
    erlfmt
]}.

{shell, [
    {apps, [lab3]}
]}.

{erlfmt, [
    check,
    verbose,
    {print_width, 100},
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]},
    {exclude_files, ["src/erlfmt_parse.erl"]}
]}.
